.backgroundImage {
    background-image: url("https://img2.akspic.ru/crops/9/1/1/9/7/179119/179119-stena-kirpich-illustracia-kirpichnaya_kladka-pryamougolnik-1920x1080.jpg");
    background-size: cover;
    background-attachment: fixed;
}
