.backgroundImage {
    background-image: url("https://img3.akspic.ru/crops/1/5/7/1/7/171751/171751-turisticheskiy_mototsikl-motocikl-motocikletnyj_turizm-krejser-harlej_devidson-1920x1080.jpg");
    background-size: contain;
    background-attachment: local;
}
