﻿@{
    ViewData["Title"] = "Главная";
}

<div style="padding: 10px;"></div>
@* @if (User.Identity.IsAuthenticated) *@
{
  <div class="card col-md-12">
  <div class="card-body">
    <h5 class="card-title text-center">Добро пожаловать на сайт Your Moto Terminal</h5>
    <p class="card-text">
      Здесь можно выбрать мотоцикл своей мечты
    </p>
    <p class="card-text"><small class="text-muted">PP</small></p>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  @* @if (User.IsInRole("Admin"))
  {
    <div class="col">
      <div class="card h-100">
        <img src="" class="card-img-top card-image"/>
        <div class="card-body text-center">
          <h5 class="card-title">Зачем это</h5>
          <p class="card-text">ДДДДДДДДДДДДДДДДДДДДД</p>
        </div>
        <div class="card-footer text-center">
          <a asp-controller="Product" asp-action="GetProducts" class="card-link">Список мотоциклов</a>
        </div>
      </div>
    </div> 
  } *@
  <div class="col">
    <div class="card h-100">
      <img @* src="https://img2.akspic.ru/previews/2/5/1/2/7/172152/172152-kartofel_fri-buterbrod-zharene-picca-blyuda_francuzskoj_kuhni-x750.jpg" *@ class="card-img-top card-image"/>
      <div class="card-body text-center">
        <h5 class="card-title">Спортивные</h5>
        <p class="card-text">
          Помогут максимально быстро выпилиться или погонять на треке
        </p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Product" asp-action="GetProductsSport" class="card-link">Список мотоциклов</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img@*  src="https://img3.akspic.ru/previews/5/5/7/6/7/176755/176755-zhan_genshin_impact_live-genshin_udar-dzhinsy-gannhild-ninguan-x750.jpg" *@ class="card-img-top card-image"/>
      <div class="card-body text-center">
        <h5 class="card-title">Туристические</h5>
        <p class="card-text">Удобные, проходимые - самое то для путешествия</p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Product" asp-action="GetProducts" class="card-link">Список мотоциклов</a>
      </div>
    </div>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Основные характеристики мотоциклов</h5>
    <p class="card-text">
      Здесь можно что-то написать
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Категории мотоциклов</h5>
  </div>
  <ul class="list-group list-group-flush" id="ulListId">
    <li class="list-group-item">Спортивные - yamaha R1, honda CBR650R ...</li>
    <li class="list-group-item">Нэйкеды - yamaha MT, kawasaki Z ...</li>
    <li class="list-group-item">Туристические - honda Africa Twin, BMW GS ...</li>
    <li class="list-group-item">Круизеры - yamaha dragstar 1100, honda shadow 750 ...</li>
  </ul>
  <div class="card-body">
    <button class="btn btn-danger" id="btnHideId">Скрыть</button>
    <button class="btn btn-primary" id="btnShowId">Показать</button>
  </div>
</div>
}
else
{
  <div class="card">
    <div class="card-header">
      Вы не авторизовались
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Для возможности сделать заказ вы должны авторизоваться</p>
      </blockquote>
    </div>
  </div>
  
  <div style="padding: 10px;"></div>
  
  @* <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="~/img/" class="card-img-top" alt="Картофанчик">
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        <div class="card-footer">
                    <small class="text-muted">Картофанчик</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="~/img/" class="card-img-top" alt="Вайфу">
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        <div class="card-footer">
                    <small class="text-muted">Вайфу</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="~/img/" class="card-img-top" alt="Хрючево">
        <div class="card-body">
                    <h5 class="card-title text-center">Хрючево</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Хрючево</small>
        </div>
      </div>
    </div>
  </div> *@
}

@section pageScripts
{
    <script>
    
    $('#btnHideId').click(function(){
      $('#ulListId').hide(2000);
    });
    
    $('#btnShowId').click(function () {
      $('#ulListId').show(2000);
    });
  </script>
}