﻿@{
    ViewData["Title"] = "Главная";
}

<div style="padding: 10px;"></div>
@if (User.Identity.IsAuthenticated)
{
  <div class="card col-md-12">
  <div class="card-body">
    <h5 class="card-title text-center">Добро пожаловать на сайт FFood Terminal</h5>
    <p class="card-text">
      Здесь пока нельзя заказать хавку, можно только зарегистрироваться
    </p>
    <p class="card-text"><small class="text-muted">PP</small></p>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  @if (User.IsInRole("Admin"))
  {
    <div class="col">
      <div class="card h-100">
        <img src="https://img2.akspic.ru/crops/0/6/8/4/7/174860/174860-kartofel_fri-buterbrod-kartofel_fri_ketchup-zharene-kartofel-1280x720.jpg" class="card-img-top card-image"/>
        <div class="card-body text-center">
          <h5 class="card-title">Основное блюдо</h5>
          <p class="card-text">Знатное и быстрое хрючево</p>
        </div>
        <div class="card-footer text-center">
          <a asp-controller="Product" asp-action="GetProducts" class="card-link">Список продуктов</a>
        </div>
      </div>
    </div> 
  }
  <div class="col">
    <div class="card h-100">
      <img @* src="https://img2.akspic.ru/previews/2/5/1/2/7/172152/172152-kartofel_fri-buterbrod-zharene-picca-blyuda_francuzskoj_kuhni-x750.jpg" *@ class="card-img-top card-image"/>
      <div class="card-body text-center">
        <h5 class="card-title">Напитки</h5>
        <p class="card-text">
          Напитки, чтобы не давиться в сухомятку
        </p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Product" asp-action="GetProducts" class="card-link">Список продуктов</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img@*  src="https://img3.akspic.ru/previews/5/5/7/6/7/176755/176755-zhan_genshin_impact_live-genshin_udar-dzhinsy-gannhild-ninguan-x750.jpg" *@ class="card-img-top card-image"/>
      <div class="card-body text-center">
        <h5 class="card-title">Десерты</h5>
        <p class="card-text">Вкусняшки, для выработки дофамина</p>
      </div>
      <div class="card-footer text-center">
        <a asp-controller="Product" asp-action="GetProducts" class="card-link">Список продуктов</a>
      </div>
    </div>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Основные виды хавчика</h5>
    <p class="card-text">
      Здесь можно что-то написать
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Категории органических веществ</h5>
  </div>
  <ul class="list-group list-group-flush" id="ulListId">
    <li class="list-group-item">Основное блюдо — бургеры, крылышки итюп</li>
    <li class="list-group-item">Закуски — картоха, наггетсы</li>
    <li class="list-group-item">Напитки — кола, чай</li>
    <li class="list-group-item">Десерты — мороженка, пироженка</li>
  </ul>
  <div class="card-body">
    <button class="btn btn-danger" id="btnHideId">Скрыть</button>
    <button class="btn btn-primary" id="btnShowId">Показать</button>
  </div>
</div>
}
else
{
  <div class="card">
    <div class="card-header">
      Вы не авторизовались
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Для возможности сделать заказ вы должны авторизоваться</p>
      </blockquote>
    </div>
  </div>
  
  <div style="padding: 10px;"></div>
  
  @* <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="~/img/" class="card-img-top" alt="Картофанчик">
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        <div class="card-footer">
                    <small class="text-muted">Картофанчик</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="~/img/" class="card-img-top" alt="Вайфу">
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        <div class="card-footer">
                    <small class="text-muted">Вайфу</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="~/img/" class="card-img-top" alt="Хрючево">
        <div class="card-body">
                    <h5 class="card-title text-center">Хрючево</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Хрючево</small>
        </div>
      </div>
    </div>
  </div> *@
}

@section pageScripts
{
    <script>
    
    $('#btnHideId').click(function(){
      $('#ulListId').hide(2000);
    });
    
    $('#btnShowId').click(function () {
      $('#ulListId').show(2000);
    });
  </script>
}