@model List<FFoodTerminal.Domain.Entities.ProductEntity> // IEnumerable instead of List

@{
    ViewData["Title"] = "GetProducts";
    Layout = "_layout";
}

@foreach (var product in Model)
{
    <p>@product.Name</p>
    <p>@product.Description</p>
    <p>@product.Category</p>
    <p>@product.Price</p>
}

